<div class="container" id="approval">
<h1>Approved users</h1>

<table>
	<thead>
  <tr>
	<th>Name</th>
	<th>Andrew ID</th>
	<th>Orgs</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
	<td><%= link_to user.name, user %></td>
	<td><%= link_to user.andrew_id, user %></td>
	<td><%= user.organizations_string %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Remove', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>
</div>