<div class="header">
	
        <a href="/"><img id="image"  src="/images/logo.png" alt="" /></a>

	<ul id="hMenu">
		<li><%= link_to "Home", root_url %></li> |
		<li><%= link_to "Create an event", new_event_path %></li> |
		
		
	<% if signed_in? %>
		<% if current_user.can_moderate? %>
			<li><%= link_to "Approval", approval_path %></li> |
			<li class="right">
			<% if Event.awaiting_approval.length > 0 %>
			  <% if Event.awaiting_approval.length == 1 %>    Hi <%= current_user.name %>, there is an event awaiting approval.
			  <% else %>
			Hi <%= current_user.name %>, there are <%= Event.awaiting_approval.length %> events awaiting approval.
			  <% end %>
			<% else %>
			  All events have been approved.
			<% end %>
			</li>
		<% else %>
			<li><%= link_to "My Events", events_my_path %></li>
			<li class="right">
				Hi <%= current_user.name %>!
			</li>
		<% end %>
		<li><%= link_to "Sign out", logout_url %></li>
	<% else %>
		<li>
		<% if Rails.env == "production" %>
		<%= link_to "Sign in", login_url %>
		<% else %>
		<%= link_to "Sign in", sessions_url %>
		<% end %>
		</li>
	<% end %>
	</ul>

</div>
