<%= form_for @event, :html => { :multipart => true } do |f| %>
	<div class="instructions">
	<p><strong>Note: All fields except flyer are required and you must select a category or two.</strong></p>
	<p>We strongly encourage you to submit a flyer to make your event stand out!</p>
	<p>Flyer size must be at least 300 x 400 (w x h) and cannot exceed 500 kb in file size</p>
	</div>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>Could not add event because the following information is required:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<fieldset class="form-info">
		<div class="field">
    		<strong><%= f.label :organization %></strong>
    		<%= f.collection_select :organization_id, current_user.organizations, :id, :name  %>
  		</div>
		<div class="field">
  			<%= label_tag :flyer, 'Flyer/Poster' %>
  			<%= f.file_field :flyer %>
		</div>
  		<div class="field">
    		<strong><%= f.label :name %></strong>
    		<%= f.text_field :name %>
			<p>(e.g. CMU Multicultural Formal 2012)</p>
  		</div>
		
		<div class="field">
		    <strong><%= f.label :"summary" %></strong>
			<%= f.text_area :summary, :rows =>2, :class=>"summary_field"%>
			<p>(Something quick and informative to draw people in!)</p>
		</div>
  		
		<div class="field">
    		<strong><%= f.label :description %></strong>
    		<%= f.text_area :description %>
			<p>(A longer, more detailed plan for the event.)</p>
  		</div>
		
		
		<div class="field">
    		<strong><%= f.label :"Where?" %></strong>
    		<%= f.text_field :location %>
			<p>(e.g. UC Merson Courtyard)</p>
  		</div>
		
		<div class="field">
    		<strong><%= f.label :"URL" %></strong>
    		<%= f.text_field :url %>
			<p>(e.g. http://www.teudu.org)  </p>
  		</div>

  		<div class="field">
    		<strong><%= f.label :start_time, 'Start time (EST)' %></strong>
    		<%= text_field_tag 'start_time_date', @event.edit_start_date, :class => 'datepicker' %>
			<% if @event.new_record? %>
			<%= f.select(:start_time, options_for_select(Event::EVENT_TIMES, closest_half_hour(1))) %>
			<% else %>
			<%= f.select(:start_time, options_for_select(Event::EVENT_TIMES, DateTime.strptime(@event.start_time, "%Y-%d-%m %H:%M").strftime("%H:%M"))) %>
			<% end %>
  		</div>

  		<div class="field">
    		<strong><%= f.label :end_time, 'End time (EST)' %></strong>
    		<%= text_field_tag 'end_time_date', @event.edit_end_date, :class => 'datepicker' %>
			<% if @event.new_record? %>
    		<%= f.select(:end_time, options_for_select(Event::EVENT_TIMES, closest_half_hour(3))) %>
			<% else %>
			<%= f.select(:end_time, options_for_select(Event::EVENT_TIMES, DateTime.strptime(@event.end_time, "%Y-%d-%m %H:%M").strftime("%H:%M"))) %>
			<% end %>
  		</div>

</fieldset>

<div class="field event-categories">
	<strong><%= f.label :categories %></strong> (Choose up to 2)<br/>
	<ul>
		<% EventsHelper::all_categories.each do |c| %>
  			<% check_id = get_check_id(c[0]) %>
  			<li class="cat-radio">
    			<%= label_tag check_id, c[0], { :class => 'cat-button'} %>
				<%= check_box_tag "event[categories][]", c[1], @event.in_category?(c[1].to_s()), {:class=>'cat-check', :id => check_id }%>
  			</li>
		<% end %>
	</ul>
</div>

<div class="actions">
	<%= f.submit %>
</div>  
<% end %>
