<script>
	var hashCategories = new Array();

	hashCategories = <%= categories_javascript()%>;
</script>

<div class="container" id="allevents">	
	<div class="leftCol">
		<ul id="category-list" class="category-list">
		 
			<li class="active">Hot Events &#8595;</li>
			<% EventsHelper::all_categories.each do |c| %>
		    	<li><%= c[0] %></li>
		  	<% end %>
		</ul>

<div class="container">	
  	<% if Event.all.empty? then %>
	<div class="paragraphtext"> Sorry, there are currently no events. Make a new event by clicking "Create an event" in the menu.</div>
	<% else %>

	<ul id="category-list" class="category-list">
			<li class="active">Hot Events</li>
			<% EventsHelper::all_categories.each do |c| %>
		    	<li><%= c[0] %></li>
		  	<% end %>
	</ul>
	<br />


	<!--<div class="leftCol">	        -->
		<div class="events-col-info">
			<h2>Click an event to see details &rarr;</h2>
			<div class="info-main">
		    	<h2 id="info-title"></h2>
		
		    	<p id="info-date"></p>
		    	<p id="info-location"></p>
		
				<p id="info-desc"></p>
		  	</div>
		</div>
<<<<<<< HEAD
	</div>
	
	<div id="events-container">
		<% Event.where("event_end >= :time_now", {:time_now=>Time.now}).each do |event| %>
			<%= render event %>
<!--	</div> -->
	<% end %>

=======
	<!--</div>-->
>>>>>>> a9b75f365b8c35d47354e932c6596bd181dc9b36
	
	<div id="eventscontainer">
		<% @events.each do |event| %>
			<div id ="event"><%= render event %></div>
			<% end %>
	</div>
	<% end %>

</div>

<script>
	hash_categories = [1,2,3] 
				[1,2,3]
</script>
