<div class="container" id="approval">
<p id="notice"><%= notice %></p>
<h1><%= @organization.name %></h1>
<h2>Members</h2>
<% if !@organization.users.empty? %>
<ul>
	<% @organization.users.each do |user| %>
	<li><%= link_to user.name, user %></li>
	<% end %>
</ul>
<% end %>
<h3>Update members</h3>
<%= form_for(@organization) do |f| %>
	<fieldset class="form-info">

  		<div class="field">
    		<%= f.label :users %>
    		<%= collection_select :organization, :user_ids, User.all, :id, :name, {:include_blank => ''},{ :multiple => true}%>
  		</div>

</fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

</div>