<!DOCTYPE html>
<html>
<head>
  <title>Teudu | Hands-on Event Discovery</title>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= render "shared/header" %>

<%= yield %>

<%= render "shared/footer" %>
<%= javascript_include_tag "application" %>

</body>
</html>
